<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
               <table class="table table-striped">
                 <thead>
                    <tr>
                        <th>Liste de Vetements</th>
                    </tr>
                </thead>
          <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Création</th> </tr>
               
                @for (produit of vetements; track produit)
                {
                <tbody>
                     <tr >
                            <td>{{produit.idVet}}</td>
                            <td>{{produit.nomVet}}</td>
                            <td>{{produit.prix}}</td>
                            <td>{{produit.dateCreation | date:'dd/MM/yyyy'}}</td>
                          </tr>                                    
                </tbody>
                }
            </table>
        </div>
    </div>
</div>